<?xml version="1.0" encoding="utf-8"?>
<robot name="linker_l20_right">
  <mujoco>
    <compiler balanceinertia="true" />
  </mujoco>
<link name="right_base_link" />
    <link name="right_connector_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/right_hand/connector_link.stl" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/right_hand/connector_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="right_hand_base_link">
      <inertial>
        <origin xyz="-0.0023553326597099 -0.000476950676809626 0.0840274681191193" rpy="0 0 0" />
        <mass value="0.130043890829375" />
        <inertia ixx="0.000269869493590648" ixy="-5.66836728555976E-07" ixz="1.0791938448155E-06" iyy="0.000164906210534713" iyz="4.94586055862009E-06" izz="0.000118834524369526" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/right_hand/hand_base_link.stl" />
        </geometry>
        <material name="">
          <color rgba="0.792156862745098 0.819607843137255 0.929411764705882 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/right_hand/hand_base_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="right_t_cmc_roll_link">
      <inertial>
        <origin xyz="0.0121300685642492 -0.00368626401900367 0.000253013805235423" rpy="0 0 0" />
        <mass value="0.0173128324517923" />
        <inertia ixx="4.04974890264239E-06" ixy="-1.31074266242452E-07" ixz="-7.53905165403527E-09" iyy="2.43513754798381E-06" iyz="1.46366596393199E-07" izz="2.09347392894973E-06" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/right_hand/t_cmc_roll_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/right_hand/t_cmc_roll_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="right_t_cmc_yaw_link">
      <inertial>
        <origin xyz="0.00274804892423072 0.00768600825377847 0.00362008971119372" rpy="0 0 0" />
        <mass value="0.0129293097380942" />
        <inertia ixx="1.69966138188785E-06" ixy="3.5029507180292E-07" ixz="-1.32342776895603E-07" iyy="7.14783352238004E-07" iyz="-3.69293599975358E-07" izz="1.38951684398117E-06" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/right_hand/t_cmc_yaw_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/right_hand/t_cmc_yaw_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="right_t_cmc_pitch_link">
      <inertial>
        <origin xyz="0.00680467489235993 -0.000348945978923473 0.0329029974283304" rpy="0 0 0" />
        <mass value="0.0311449727019751" />
        <inertia ixx="1.14965619264847E-05" ixy="-1.14093661337383E-08" ixz="5.08562599330683E-08" iyy="1.37913772817647E-05" iyz="2.39355105126118E-08" izz="3.56917509196916E-06" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/right_hand/t_cmc_pitch_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/right_hand/t_cmc_pitch_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="right_t_mcp_link">
      <inertial>
        <origin xyz="-0.00268743345276515 0.000568290980153867 0.0118503606835096" rpy="0 0 0" />
        <mass value="0.00549015851204037" />
        <inertia ixx="4.78349857032437E-07" ixy="4.61712014179472E-11" ixz="5.4113877466635E-08" iyy="6.23171205283375E-07" iyz="5.11556682719536E-09" izz="2.34919130274949E-07" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/right_hand/t_mcp_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/right_hand/t_mcp_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="right_t_ip_link">
      <inertial>
        <origin xyz="-0.000650482106033023 2.41300573138245E-05 0.0111942838051236" rpy="0 0 0" />
        <mass value="0.00585464206993151" />
        <inertia ixx="3.37157269656711E-07" ixy="3.69307135027908E-10" ixz="-1.12308316041907E-07" iyy="4.37703462647265E-07" iyz="-9.3624675389561E-10" izz="1.85639673847353E-07" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/right_hand/t_ip_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/right_hand/t_ip_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="right_if_mcp_roll_link">
      <inertial>
        <origin xyz="-0.00794297216778595 3.01910607593964E-07 0.00220112291424343" rpy="0 0 0" />
        <mass value="0.000895533942236676" />
        <inertia ixx="3.46286808249453E-08" ixy="5.20721113539202E-13" ixz="5.91055676999344E-09" iyy="2.85439868980493E-08" iyz="6.15915602928681E-13" izz="4.38105935701441E-08" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/right_hand/if_mcp_roll_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/right_hand/if_mcp_roll_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="right_if_mcp_pitch_link">
      <inertial>
        <origin xyz="-0.00114165889805229 -3.47779025311364E-05 0.0228930740987338" rpy="0 0 0" />
        <mass value="0.00450935628154297" />
        <inertia ixx="6.66693338335738E-07" ixy="1.00781853152623E-11" ixz="-2.53156876802064E-08" iyy="6.74214594716538E-07" iyz="1.59197443844205E-10" izz="1.3576088799113E-07" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/right_hand/if_mcp_pitch_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/right_hand/if_mcp_pitch_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="right_if_pip_link">
      <inertial>
        <origin xyz="-0.000206830314670474 -2.69762827288106E-06 0.0167055565294545" rpy="0 0 0" />
        <mass value="0.00237861824163327" />
        <inertia ixx="2.29584431475404E-07" ixy="-3.79527882007371E-12" ixz="-1.47269516053005E-08" iyy="1.76802239049368E-07" iyz="3.59871792473524E-13" izz="9.62875380319572E-08" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/right_hand/if_pip_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/right_hand/if_pip_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="right_if_dip_link">
      <inertial>
        <origin xyz="-0.00816260402461631 -2.26721604493323E-05 0.00811819722869647" rpy="0 0 0" />
        <mass value="0.00334176238570705" />
        <inertia ixx="1.59568900399119E-07" ixy="-1.52271643281661E-10" ixz="-5.94266141046017E-08" iyy="1.78096631602274E-07" iyz="1.23981970768957E-10" izz="1.34139906914153E-07" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/right_hand/if_dip_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/right_hand/if_dip_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="right_mf_mcp_roll_link">
      <inertial>
        <origin xyz="-0.00794297217144934 3.01910607571412E-07 0.00220112291424346" rpy="0 0 0" />
        <mass value="0.000895533942236672" />
        <inertia ixx="3.46286808249452E-08" ixy="5.20721113361698E-13" ixz="5.91055676999347E-09" iyy="2.85439868980493E-08" iyz="6.15915602825396E-13" izz="4.3810593570144E-08" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/right_hand/mf_mcp_roll_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/right_hand/mf_mcp_roll_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="right_mf_mcp_pitch_link">
      <inertial>
        <origin xyz="-0.00114165889805231 -3.47779025311071E-05 0.0228930740987338" rpy="0 0 0" />
        <mass value="0.00450935628154299" />
        <inertia ixx="6.66693338335741E-07" ixy="1.00781853158879E-11" ixz="-2.53156876802067E-08" iyy="6.74214594716535E-07" iyz="1.59197443844791E-10" izz="1.35760887991121E-07" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/right_hand/mf_mcp_pitch_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/right_hand/mf_mcp_pitch_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="right_mf_pip_link">
      <inertial>
        <origin xyz="-0.000206830311076763 -2.69763200638285E-06 0.0167055565392871" rpy="0 0 0" />
        <mass value="0.00237861824399121" />
        <inertia ixx="2.2958443176697E-07" ixy="-3.79531728857531E-12" ixz="-1.47269515025648E-08" iyy="1.76802239346606E-07" iyz="3.59776198217398E-13" izz="9.62875381090068E-08" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/right_hand/mf_pip_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/right_hand/mf_pip_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="right_mf_dip_link">
      <inertial>
        <origin xyz="-0.00816260402458386 -2.26721612610642E-05 0.00811819722943347" rpy="0 0 0" />
        <mass value="0.0033417623857295" />
        <inertia ixx="1.59568900407287E-07" ixy="-1.52271672185911E-10" ixz="-5.94266141070478E-08" iyy="1.78096631550001E-07" iyz="1.23981962913402E-10" izz="1.34139906932954E-07" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/right_hand/mf_dip_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/right_hand/mf_dip_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="right_rf_mcp_roll_link">
      <inertial>
        <origin xyz="-0.00794297217511273 3.01910607531514E-07 0.00220112291424343" rpy="0 0 0" />
        <mass value="0.00089553394223667" />
        <inertia ixx="3.4628680824945E-08" ixy="5.2072111337213E-13" ixz="5.91055676999336E-09" iyy="2.8543986898049E-08" iyz="6.15915602738524E-13" izz="4.38105935701438E-08" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/right_hand/rf_mcp_roll_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/right_hand/rf_mcp_roll_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="right_rf_mcp_pitch_link">
      <inertial>
        <origin xyz="-0.00114165889805229 -3.47779025311641E-05 0.0228930740987337" rpy="0 0 0" />
        <mass value="0.00450935628154299" />
        <inertia ixx="6.66693338335738E-07" ixy="1.00781853170701E-11" ixz="-2.53156876802064E-08" iyy="6.74214594716548E-07" iyz="1.59197443843837E-10" izz="1.3576088799114E-07" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/right_hand/rf_mcp_pitch_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/right_hand/rf_mcp_pitch_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="right_rf_pip_link">
      <inertial>
        <origin xyz="-0.000206830314670712 -2.69762827293657E-06 0.0167055565294543" rpy="0 0 0" />
        <mass value="0.00237861824163314" />
        <inertia ixx="2.29584431475388E-07" ixy="-3.79527881056473E-12" ixz="-1.47269516053097E-08" iyy="1.76802239049448E-07" iyz="3.59871797815951E-13" izz="9.62875380320043E-08" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/right_hand/rf_pip_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/right_hand/rf_pip_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="right_rf_dip_link">
      <inertial>
        <origin xyz="-0.00816260402385198 -2.26723442381116E-05 0.00811819722787116" rpy="0 0 0" />
        <mass value="0.00334176238553782" />
        <inertia ixx="1.59568900413529E-07" ixy="-1.5226555011147E-10" ixz="-5.9426614092103E-08" iyy="1.78096631554275E-07" iyz="1.23978578539056E-10" izz="1.34139906897543E-07" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/right_hand/rf_dip_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/right_hand/rf_dip_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="right_lf_mcp_roll_link">
      <inertial>
        <origin xyz="-0.00794297217877612 3.019106075558E-07 0.00220112291424343" rpy="0 0 0" />
        <mass value="0.000895533942236661" />
        <inertia ixx="3.46286808249448E-08" ixy="5.20721113385638E-13" ixz="5.91055676999334E-09" iyy="2.85439868980489E-08" iyz="6.15915602787648E-13" izz="4.38105935701437E-08" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/right_hand/lf_mcp_roll_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/right_hand/lf_mcp_roll_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="right_lf_mcp_pitch_link">
      <inertial>
        <origin xyz="-0.00114165890216106 -3.47779084241967E-05 0.0228930741124087" rpy="0 0 0" />
        <mass value="0.00450935627773312" />
        <inertia ixx="6.6669333754323E-07" ixy="1.00781372651744E-11" ixz="-2.53156873668278E-08" iyy="6.74214593816853E-07" iyz="1.59197565505674E-10" izz="1.35760887844139E-07" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/right_hand/lf_mcp_pitch_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/right_hand/lf_mcp_pitch_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="right_lf_pip_link">
      <inertial>
        <origin xyz="-0.000206830314670489 -2.69762827287412E-06 0.0167055565294545" rpy="0 0 0" />
        <mass value="0.0023786182416333" />
        <inertia ixx="2.29584431475459E-07" ixy="-3.79527884680841E-12" ixz="-1.47269516053079E-08" iyy="1.76802239049466E-07" iyz="3.5987180643017E-13" izz="9.62875380320415E-08" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/right_hand/lf_pip_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/right_hand/lf_pip_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="right_lf_dip_link">
      <inertial>
        <origin xyz="-0.00816260391299546 -2.26722056161019E-05 0.00811819704290559" rpy="0 0 0" />
        <mass value="0.00334176233214274" />
        <inertia ixx="1.59568898336975E-07" ixy="-1.52270106341856E-10" ixz="-5.94266114992739E-08" iyy="1.78096625944569E-07" iyz="1.23981107883524E-10" izz="1.3413990252827E-07" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/right_hand/lf_dip_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/right_hand/lf_dip_link.obj" />
        </geometry>
      </collision>
    </link>
    <joint name="RIGHT_CONNECTOR" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 -1.5707963267948966" />
      <parent link="right_base_link" />
      <child link="right_connector_link" />
    </joint>
    <joint name="RIGHT_HAND_BASE" type="fixed">
      <origin xyz="0 0 0.036" rpy="0 0 0" />
      <parent link="right_connector_link" />
      <child link="right_hand_base_link" />
    </joint>
    <joint name="RIGHT_T_CMC_ROLL" type="revolute">
      <origin xyz="0.01916 0.01 0.0436" rpy="0 0 0" />
      <parent link="right_hand_base_link" />
      <child link="right_t_cmc_roll_link" />
      <axis xyz="1 0 0" />
      <limit lower="0" upper="1.39" effort="1" velocity="100" />
    </joint>
    <joint name="RIGHT_T_CMC_YAW" type="revolute">
      <origin xyz="0.019845 0 0" rpy="-0.77165 0 0" />
      <parent link="right_t_cmc_roll_link" />
      <child link="right_t_cmc_yaw_link" />
      <axis xyz="0 0 -1" />
      <limit lower="0" upper="1.57" effort="1" velocity="100" />
    </joint>
    <joint name="RIGHT_T_CMC_PITCH" type="revolute">
      <origin xyz="0.0088264 0.024243 0.0005" rpy="0 -1.0647 -1.9199" />
      <parent link="right_t_cmc_yaw_link" />
      <child link="right_t_cmc_pitch_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="0.83" effort="1" velocity="100" />
    </joint>
    <joint name="RIGHT_T_MCP" type="revolute">
      <origin xyz="0.012702 0 0.062726" rpy="0 0 0" />
      <parent link="right_t_cmc_pitch_link" />
      <child link="right_t_mcp_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.25" effort="1" velocity="100" />
    </joint>
    <joint name="RIGHT_T_IP" type="revolute">
      <origin xyz="-0.0048365 0 0.034223" rpy="0 0 0" />
      <parent link="right_t_mcp_link" />
      <child link="right_t_ip_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.29" effort="1" velocity="100" />
      <mimic joint="RIGHT_T_MCP" multiplier="1.03" offset="0" />
    </joint>
    <joint name="RIGHT_IF_MCP_ROLL" type="revolute">
      <origin xyz="0.0038 0.03525 0.1481" rpy="0 0 0" />
      <parent link="right_hand_base_link" />
      <child link="right_if_mcp_roll_link" />
      <axis xyz="1 0 0" />
      <limit lower="-0.23" upper="0.23" effort="1" velocity="100" />
    </joint>
    <joint name="RIGHT_IF_MCP_PITCH" type="revolute">
      <origin xyz="-0.0021302 0 0" rpy="0 0 0" />
      <parent link="right_if_mcp_roll_link" />
      <child link="right_if_mcp_pitch_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.22" effort="1" velocity="100" />
    </joint>
    <joint name="RIGHT_IF_PIP" type="revolute">
      <origin xyz="-0.0041946 0 0.044819" rpy="0 0 0" />
      <parent link="right_if_mcp_pitch_link" />
      <child link="right_if_pip_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.75" effort="1" velocity="100" />
    </joint>
    <joint name="RIGHT_IF_DIP" type="revolute">
      <origin xyz="0.0028245 0 0.031696" rpy="0 0 0" />
      <parent link="right_if_pip_link" />
      <child link="right_if_dip_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.55" effort="1" velocity="100" />
      <mimic joint="RIGHT_IF_PIP" multiplier="0.89" offset="0" />
    </joint>
    <joint name="RIGHT_MF_MCP_ROLL" type="revolute">
      <origin xyz="0.0038 0.01175 0.1526" rpy="0 0 0" />
      <parent link="right_hand_base_link" />
      <child link="right_mf_mcp_roll_link" />
      <axis xyz="1 0 0" />
      <limit lower="-0.23" upper="0.23" effort="1" velocity="100" />
    </joint>
    <joint name="RIGHT_MF_MCP_PITCH" type="revolute">
      <origin xyz="-0.0021302 0 0" rpy="0 0 0" />
      <parent link="right_mf_mcp_roll_link" />
      <child link="right_mf_mcp_pitch_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.22" effort="1" velocity="100" />
    </joint>
    <joint name="RIGHT_MF_PIP" type="revolute">
      <origin xyz="-0.0041946 0 0.044819" rpy="0 0 0" />
      <parent link="right_mf_mcp_pitch_link" />
      <child link="right_mf_pip_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.75" effort="1" velocity="100" />
    </joint>
    <joint name="RIGHT_MF_DIP" type="revolute">
      <origin xyz="0.0028245 0 0.031696" rpy="0 0 0" />
      <parent link="right_mf_pip_link" />
      <child link="right_mf_dip_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.55" effort="1" velocity="100" />
      <mimic joint="RIGHT_MF_PIP" multiplier="0.89" offset="0" />
    </joint>
    <joint name="RIGHT_RF_MCP_ROLL" type="revolute">
      <origin xyz="0.0038 -0.01175 0.1481" rpy="0 0 0" />
      <parent link="right_hand_base_link" />
      <child link="right_rf_mcp_roll_link" />
      <axis xyz="1 0 0" />
      <limit lower="-0.23" upper="0.23" effort="1" velocity="100" />
    </joint>
    <joint name="RIGHT_RF_MCP_PITCH" type="revolute">
      <origin xyz="-0.0021302 0 0" rpy="0 0 0" />
      <parent link="right_rf_mcp_roll_link" />
      <child link="right_rf_mcp_pitch_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.22" effort="1" velocity="100" />
    </joint>
    <joint name="RIGHT_RF_PIP" type="revolute">
      <origin xyz="-0.0041946 0 0.044819" rpy="0 0 0" />
      <parent link="right_rf_mcp_pitch_link" />
      <child link="right_rf_pip_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.75" effort="1" velocity="100" />
    </joint>
    <joint name="RIGHT_RF_DIP" type="revolute">
      <origin xyz="0.0028245 0 0.031696" rpy="0 0 0" />
      <parent link="right_rf_pip_link" />
      <child link="right_rf_dip_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.55" effort="1" velocity="100" />
      <mimic joint="RIGHT_RF_PIP" multiplier="0.89" offset="0" />
    </joint>
    <joint name="RIGHT_LF_MCP_ROLL" type="revolute">
      <origin xyz="0.0038 -0.03525 0.1436" rpy="0 0 0" />
      <parent link="right_hand_base_link" />
      <child link="right_lf_mcp_roll_link" />
      <axis xyz="1 0 0" />
      <limit lower="-0.23" upper="0.23" effort="1" velocity="100" />
    </joint>
    <joint name="RIGHT_LF_MCP_PITCH" type="revolute">
      <origin xyz="-0.0021302 0 0" rpy="0 0 0" />
      <parent link="right_lf_mcp_roll_link" />
      <child link="right_lf_mcp_pitch_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.22" effort="1" velocity="100" />
    </joint>
    <joint name="RIGHT_LF_PIP" type="revolute">
      <origin xyz="-0.0041946 0 0.044819" rpy="0 0 0" />
      <parent link="right_lf_mcp_pitch_link" />
      <child link="right_lf_pip_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.75" effort="1" velocity="100" />
    </joint>
    <joint name="RIGHT_LF_DIP" type="revolute">
      <origin xyz="0.0028245 0 0.031696" rpy="0 0 0" />
      <parent link="right_lf_pip_link" />
      <child link="right_lf_dip_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.55" effort="1" velocity="100" />
      <mimic joint="RIGHT_LF_MCP_PITCH" multiplier="0.89" offset="0" />
    </joint>

    <!-- Virtual tip links for retargeting. -->
    <link name="right_t_tip" />
    <joint name="right_t_tip_fixed" type="fixed">
      <parent link="right_t_ip_link" />
      <child link="right_t_tip" />
      <origin xyz="0 0 0.031" rpy="0 0 0" />
    </joint>
    <link name="right_if_tip" />
    <joint name="right_if_tip_fixed" type="fixed">
      <parent link="right_if_dip_link" />
      <child link="right_if_tip" />
      <origin xyz="0 0 0.023" rpy="0 0 0" />
    </joint>
    <link name="right_mf_tip" />
    <joint name="right_mf_tip_fixed" type="fixed">
      <parent link="right_mf_dip_link" />
      <child link="right_mf_tip" />
      <origin xyz="0 0 0.023" rpy="0 0 0" />
    </joint>
    <link name="right_rf_tip" />
    <joint name="right_rf_tip_fixed" type="fixed">
      <parent link="right_rf_dip_link" />
      <child link="right_rf_tip" />
      <origin xyz="0 0 0.023" rpy="0 0 0" />
    </joint>
    <link name="right_lf_tip" />
    <joint name="right_lf_tip_fixed" type="fixed">
      <parent link="right_lf_dip_link" />
      <child link="right_lf_tip" />
      <origin xyz="0 0 0.023" rpy="0 0 0" />
    </joint>
</robot>
