<?xml version="1.0" encoding="utf-8"?>
<robot name="linker_l20_left">
  <mujoco>
    <compiler balanceinertia="true" />
  </mujoco>
<link name="left_base_link" />
    <link name="left_connector_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/left_hand/connector_link.stl" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/left_hand/connector_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="left_hand_base_link">
      <inertial>
        <origin xyz="-0.000986417037198788 0.000268049028294054 0.0773798470852122" rpy="0 0 0" />
        <mass value="0.110373495507463" />
        <inertia ixx="0.000264402778830212" ixy="4.59263483005334E-07" ixz="1.32798258678817E-06" iyy="0.000159680177760236" iyz="-4.78660406501498E-06" izz="0.000118075546031988" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/left_hand/hand_base_link.stl" />
        </geometry>
        <material name="">
          <color rgba="0.792156862745098 0.819607843137255 0.929411764705882 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/left_hand/hand_base_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="left_t_cmc_roll_link">
      <inertial>
        <origin xyz="0.0115155126192006 0.00398068846976699 0.000272888250745694" rpy="0 0 0" />
        <mass value="0.0160351802817401" />
        <inertia ixx="4.043875385429E-06" ixy="1.31113365770736E-07" ixz="-7.54220071752833E-09" iyy="2.42762975209742E-06" iyz="-1.4815076502312E-07" izz="2.08582778122043E-06" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/left_hand/t_cmc_roll_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/left_hand/t_cmc_roll_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="left_t_cmc_yaw_link">
      <inertial>
        <origin xyz="0.00286714610220221 -0.0061572653424441 0.00472605265322379" rpy="0 0 0" />
        <mass value="0.00183264554882498" />
        <inertia ixx="2.10633266517815E-07" ixy="-4.9133152227129E-08" ixz="-1.35746007921721E-08" iyy="9.83742137915545E-08" iyz="4.75450167610941E-08" izz="1.80097560989649E-07" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/left_hand/t_cmc_yaw_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/left_hand/t_cmc_yaw_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="left_t_cmc_pitch_link">
      <inertial>
        <origin xyz="0.00670657874489922 8.60758971228653E-05 0.0331412930049483" rpy="0 0 0" />
        <mass value="0.0287160359417969" />
        <inertia ixx="1.13355944686632E-05" ixy="-1.18725063259997E-08" ixz="5.09011416528365E-08" iyy="1.3528651001113E-05" iyz="2.41236037965108E-08" izz="3.37809997040935E-06" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/left_hand/t_cmc_pitch_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/left_hand/t_cmc_pitch_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="left_t_mcp_link">
      <inertial>
        <origin xyz="-0.00268734410969529 0.000568244522388137 0.0118501723044777" rpy="0 0 0" />
        <mass value="0.00549015507433734" />
        <inertia ixx="4.78372237673962E-07" ixy="4.56375652569348E-11" ixz="5.41461160604729E-08" iyy="6.23208954846975E-07" iyz="5.1129105291147E-09" izz="2.34934736039565E-07" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/left_hand/t_mcp_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/left_hand/t_mcp_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="left_t_ip_link">
      <inertial>
        <origin xyz="-0.000710021799050622 -0.00267575921172081 0.0124762660846746" rpy="0 0 0" />
        <mass value="0.00382046638843239" />
        <inertia ixx="2.12120816159448E-07" ixy="-2.9588372102787E-09" ixz="-7.35950751454791E-08" iyy="2.67878295781821E-07" iyz="6.04616706384983E-09" izz="1.24571609570411E-07" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/left_hand/t_ip_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/left_hand/t_ip_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="left_if_mcp_roll_link">
      <inertial>
        <origin xyz="-0.00794299653637993 -2.93673969475883E-07 0.00220106027330236" rpy="0 0 0" />
        <mass value="0.000895516429792169" />
        <inertia ixx="3.46279728013563E-08" ixy="-3.91962517308058E-13" ixz="5.91029152662012E-09" iyy="2.85435471088518E-08" iyz="-5.30377507775974E-13" izz="4.38102133125935E-08" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/left_hand/if_mcp_roll_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/left_hand/if_mcp_roll_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="left_if_mcp_pitch_link">
      <inertial>
        <origin xyz="-0.00114185484694667 3.47315751996757E-05 0.0228928405204552" rpy="0 0 0" />
        <mass value="0.00450921353606138" />
        <inertia ixx="6.66673080974796E-07" ixy="-1.07185172336921E-11" ixz="-2.53143396223457E-08" iyy="6.74195867168963E-07" iyz="-1.59054321114837E-10" izz="1.3575909170439E-07" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/left_hand/if_mcp_pitch_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/left_hand/if_mcp_pitch_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="left_if_pip_link">
      <inertial>
        <origin xyz="-0.000206991936024691 2.60617060293677E-06 0.0167065328961797" rpy="0 0 0" />
        <mass value="0.00237827499847615" />
        <inertia ixx="2.2953872847051E-07" ixy="2.23609392315326E-12" ixz="-1.4734008024399E-08" iyy="1.76761332719485E-07" iyz="1.15917246584962E-11" izz="9.62798051827835E-08" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/left_hand/if_pip_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/left_hand/if_pip_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="left_if_dip_link">
      <inertial>
        <origin xyz="-0.00816246517948334 2.27058913663258E-05 0.00811806505013066" rpy="0 0 0" />
        <mass value="0.00334170259772608" />
        <inertia ixx="1.59570744991572E-07" ixy="1.51458653099843E-10" ixz="-5.9429168549018E-08" iyy="1.78095631426193E-07" iyz="-1.24842727205631E-10" izz="1.34141383450165E-07" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/left_hand/if_dip_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/left_hand/if_dip_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="left_mf_mcp_roll_link">
      <inertial>
        <origin xyz="-0.00794299618184406 -2.93006659768391E-07 0.00220106329585604" rpy="0 0 0" />
        <mass value="0.000895516947435045" />
        <inertia ixx="3.46279958583857E-08" ixy="-3.91785866285381E-13" ixz="5.91029262290692E-09" iyy="2.85435605322585E-08" iyz="-5.27457529869591E-13" izz="4.38102218629515E-08" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/left_hand/mf_mcp_roll_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/left_hand/mf_mcp_roll_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="left_mf_mcp_pitch_link">
      <inertial>
        <origin xyz="-0.00114185484818909 3.47315748623067E-05 0.0228928405191574" rpy="0 0 0" />
        <mass value="0.00450921353536659" />
        <inertia ixx="6.6667308094129E-07" ixy="-1.07185191777588E-11" ixz="-2.53143396278864E-08" iyy="6.74195867139795E-07" iyz="-1.59054330697635E-10" izz="1.3575909169764E-07" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/left_hand/mf_mcp_pitch_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/left_hand/mf_mcp_pitch_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="left_mf_pip_link">
      <inertial>
        <origin xyz="-0.000206991893084203 2.60624978909441E-06 0.0167065331356697" rpy="0 0 0" />
        <mass value="0.00237827502274046" />
        <inertia ixx="2.29538732170979E-07" ixy="2.23722006830829E-12" ixz="-1.47340061868536E-08" iyy="1.7676133625496E-07" iyz="1.15938574397121E-11" izz="9.62798057458164E-08" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/left_hand/mf_pip_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/left_hand/mf_pip_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="left_mf_dip_link">
      <inertial>
        <origin xyz="-0.00816246584707385 2.27058557035753E-05 0.00811806604834034" rpy="0 0 0" />
        <mass value="0.00334170288968694" />
        <inertia ixx="1.59570753478215E-07" ixy="1.51460233550071E-10" ixz="-5.94291827952622E-08" iyy="1.78095663702073E-07" iyz="-1.24843061161549E-10" izz="1.34141410190336E-07" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/left_hand/mf_dip_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/left_hand/mf_dip_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="left_rf_mcp_roll_link">
      <inertial>
        <origin xyz="-0.00794299637971868 -2.94513098575422E-07 0.00220106138372037" rpy="0 0 0" />
        <mass value="0.000895516612684195" />
        <inertia ixx="3.46279813761428E-08" ixy="-3.92590701616938E-13" ixz="5.91029201975386E-09" iyy="2.854355219638E-08" iyz="-5.34642787239736E-13" izz="4.38102164225122E-08" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/left_hand/rf_mcp_roll_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/left_hand/rf_mcp_roll_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="left_rf_mcp_pitch_link">
      <inertial>
        <origin xyz="-0.00114185484356009 3.47315809493265E-05 0.0228928405060199" rpy="0 0 0" />
        <mass value="0.00450921353946778" />
        <inertia ixx="6.66673081759646E-07" ixy="-1.07184694208142E-11" ixz="-2.53143399406658E-08" iyy="6.74195868060947E-07" iyz="-1.59054446512071E-10" izz="1.3575909184966E-07" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/left_hand/rf_mcp_pitch_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/left_hand/rf_mcp_pitch_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="left_rf_pip_link">
      <inertial>
        <origin xyz="-0.00020699321531438 2.60746916563859E-06 0.0167065326651803" rpy="0 0 0" />
        <mass value="0.00237827433282015" />
        <inertia ixx="2.29538714144179E-07" ixy="2.25259718797087E-12" ixz="-1.47340121880382E-08" iyy="1.76761312824203E-07" iyz="1.15994674932479E-11" izz="9.62797743780677E-08" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/left_hand/rf_pip_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/left_hand/rf_pip_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="left_rf_dip_link">
      <inertial>
        <origin xyz="-0.0081624655153107 2.27057324615476E-05 0.00811806561376854" rpy="0 0 0" />
        <mass value="0.00334170280386792" />
        <inertia ixx="1.59570757957895E-07" ixy="1.51461030930522E-10" ixz="-5.94291750853635E-08" iyy="1.78095650648522E-07" iyz="-1.2484716714453E-10" izz="1.34141394018405E-07" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/left_hand/rf_dip_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/left_hand/rf_dip_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="left_lf_mcp_roll_link">
      <inertial>
        <origin xyz="-0.00794299617469867 -2.9300686296696E-07 0.00220106329602079" rpy="0 0 0" />
        <mass value="0.000895516947513541" />
        <inertia ixx="3.46279958591138E-08" ixy="-3.91785473098584E-13" ixz="5.91029262259818E-09" iyy="2.85435605328821E-08" iyz="-5.27457876763101E-13" izz="4.38102218637476E-08" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/left_hand/lf_mcp_roll_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/left_hand/lf_mcp_roll_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="left_lf_mcp_pitch_link">
      <inertial>
        <origin xyz="-0.00114185484350746 3.47315809787474E-05 0.0228928405060759" rpy="0 0 0" />
        <mass value="0.00450921353949741" />
        <inertia ixx="6.66673081761478E-07" ixy="-1.07184692555283E-11" ixz="-2.53143399404374E-08" iyy="6.74195868062215E-07" iyz="-1.59054445649156E-10" izz="1.35759091850319E-07" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/left_hand/lf_mcp_pitch_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/left_hand/lf_mcp_pitch_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="left_lf_pip_link">
      <inertial>
        <origin xyz="-0.000206993248553502 2.60748984004522E-06 0.0167065326828462" rpy="0 0 0" />
        <mass value="0.00237827431921004" />
        <inertia ixx="2.29538713829186E-07" ixy="2.25292379523651E-12" ixz="-1.47340119230773E-08" iyy="1.76761312133621E-07" iyz="1.15993142153177E-11" izz="9.62797736254209E-08" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/left_hand/lf_pip_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/left_hand/lf_pip_link.obj" />
        </geometry>
      </collision>
    </link>
    <link name="left_lf_dip_link">
      <inertial>
        <origin xyz="-0.00816246615274486 2.27054189396725E-05 0.00811806634481432" rpy="0 0 0" />
        <mass value="0.00334170283969146" />
        <inertia ixx="1.59570758932551E-07" ixy="1.51458416419677E-10" ixz="-5.94291815262966E-08" iyy="1.7809566305509E-07" iyz="-1.24846982879422E-10" izz="1.34141398854287E-07" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="visual/left_hand/lf_dip_link.stl" />
        </geometry>
        <material name="">
          <color rgba="1 1 1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="collision/left_hand/lf_dip_link.obj" />
        </geometry>
      </collision>
    </link>
    <joint name="LEFT_CONNECTOR" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 1.5707963267948966" />
      <parent link="left_base_link" />
      <child link="left_connector_link" />
    </joint>
    <joint name="LEFT_HAND_BASE" type="fixed">
      <origin xyz="0 0 0.036" rpy="0 0 0" />
      <parent link="left_connector_link" />
      <child link="left_hand_base_link" />
    </joint>
    <joint name="LEFT_T_CMC_ROLL" type="revolute">
      <origin xyz="0.01916 -0.01 0.0436" rpy="0 0 0" />
      <parent link="left_hand_base_link" />
      <child link="left_t_cmc_roll_link" />
      <axis xyz="-1 0 0" />
      <limit lower="0" upper="1.4" effort="100" velocity="1" />
    </joint>
    <joint name="LEFT_T_CMC_YAW" type="revolute">
      <origin xyz="0.019845 0 0" rpy="0.77165 0 0" />
      <parent link="left_t_cmc_roll_link" />
      <child link="left_t_cmc_yaw_link" />
      <axis xyz="0 0 1" />
      <limit lower="0" upper="1.57" effort="100" velocity="1" />
    </joint>
    <joint name="LEFT_T_CMC_PITCH" type="revolute">
      <origin xyz="0.0088218 -0.024245 0.0005" rpy="0 -1.0647 1.9199" />
      <parent link="left_t_cmc_yaw_link" />
      <child link="left_t_cmc_pitch_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="0.84" effort="100" velocity="1" />
    </joint>
    <joint name="LEFT_T_MCP" type="revolute">
      <origin xyz="0.0127018248047608 0 0.0627256157349894" rpy="0 0 0" />
      <parent link="left_t_cmc_pitch_link" />
      <child link="left_t_mcp_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.26" effort="100" velocity="1" />
    </joint>
    <joint name="LEFT_T_IP" type="revolute">
      <origin xyz="-0.00483652209209624 0 0.0342226492098615" rpy="0 0 0" />
      <parent link="left_t_mcp_link" />
      <child link="left_t_ip_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.29" effort="100" velocity="1" />
      <mimic joint="LEFT_T_MCP" multiplier="1.02" offset="0" />
    </joint>
    <joint name="LEFT_IF_MCP_ROLL" type="revolute">
      <origin xyz="0.0038 -0.03525 0.1481" rpy="0 0 0" />
      <parent link="left_hand_base_link" />
      <child link="left_if_mcp_roll_link" />
      <axis xyz="-1 0 0" />
      <limit lower="-0.23" upper="0.23" effort="100" velocity="1" />
    </joint>
    <joint name="LEFT_IF_MCP_PITCH" type="revolute">
      <origin xyz="-0.0021302 0 0" rpy="0 0 0" />
      <parent link="left_if_mcp_roll_link" />
      <child link="left_if_mcp_pitch_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.22" effort="100" velocity="1" />
    </joint>
    <joint name="LEFT_IF_PIP" type="revolute">
      <origin xyz="-0.0041946 0 0.044819" rpy="0 0 0" />
      <parent link="left_if_mcp_pitch_link" />
      <child link="left_if_pip_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.74" effort="100" velocity="1" />
    </joint>
    <joint name="LEFT_IF_DIP" type="revolute">
      <origin xyz="0.0028245 0 0.031696" rpy="0 0 0" />
      <parent link="left_if_pip_link" />
      <child link="left_if_dip_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.55" effort="100" velocity="1" />
      <mimic joint="LEFT_IF_PIP" multiplier="0.89" offset="0" />
    </joint>
    <joint name="LEFT_MF_MCP_ROLL" type="revolute">
      <origin xyz="0.00379999999265848 -0.0117500000029305 0.1526" rpy="0 0 0" />
      <parent link="left_hand_base_link" />
      <child link="left_mf_mcp_roll_link" />
      <axis xyz="-1 0 0" />
      <limit lower="-0.23" upper="0.23" effort="100" velocity="1" />
    </joint>
    <joint name="LEFT_MF_MCP_PITCH" type="revolute">
      <origin xyz="-0.0021302 0 0" rpy="0 0 0" />
      <parent link="left_mf_mcp_roll_link" />
      <child link="left_mf_mcp_pitch_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.22" effort="100" velocity="1" />
    </joint>
    <joint name="LEFT_MF_PIP" type="revolute">
      <origin xyz="-0.00419457745591796 0 0.0448194332262389" rpy="0 0 0" />
      <parent link="left_mf_mcp_pitch_link" />
      <child link="left_mf_pip_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.74" effort="100" velocity="1" />
    </joint>
    <joint name="LEFT_MF_DIP" type="revolute">
      <origin xyz="0.0028245 0 0.031696" rpy="0 0 0" />
      <parent link="left_mf_pip_link" />
      <child link="left_mf_dip_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.55" effort="100" velocity="1" />
      <mimic joint="LEFT_MF_PIP" multiplier="0.89" offset="0" />
    </joint>
    <joint name="LEFT_RF_MCP_ROLL" type="revolute">
      <origin xyz="0.00379999999632174 0.0117499999970695 0.1481" rpy="0 0 0" />
      <parent link="left_hand_base_link" />
      <child link="left_rf_mcp_roll_link" />
      <axis xyz="-1 0 0" />
      <limit lower="-0.23" upper="0.23" effort="100" velocity="1" />
    </joint>
    <joint name="LEFT_RF_MCP_PITCH" type="revolute">
      <origin xyz="-0.0021302 0 0" rpy="0 0 0" />
      <parent link="left_rf_mcp_roll_link" />
      <child link="left_rf_mcp_pitch_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.22" effort="100" velocity="1" />
    </joint>
    <joint name="LEFT_RF_PIP" type="revolute">
      <origin xyz="-0.00419457745591796 0 0.0448194332262389" rpy="0 0 0" />
      <parent link="left_rf_mcp_pitch_link" />
      <child link="left_rf_pip_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.74" effort="100" velocity="1" />
    </joint>
    <joint name="LEFT_RF_DIP" type="revolute">
      <origin xyz="0.0028245 0 0.031696" rpy="0 0 0" />
      <parent link="left_rf_pip_link" />
      <child link="left_rf_dip_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.55" effort="100" velocity="1" />
      <mimic joint="LEFT_RF_PIP" multiplier="0.89" offset="0" />
    </joint>
    <joint name="LEFT_LF_MCP_ROLL" type="revolute">
      <origin xyz="0.00379999999998499 0.0352499999970695 0.1436" rpy="0 0 0" />
      <parent link="left_hand_base_link" />
      <child link="left_lf_mcp_roll_link" />
      <axis xyz="-1 0 0" />
      <limit lower="-0.23" upper="0.23" effort="100" velocity="1" />
    </joint>
    <joint name="LEFT_LF_MCP_PITCH" type="revolute">
      <origin xyz="-0.0021302 0 0" rpy="0 0 0" />
      <parent link="left_lf_mcp_roll_link" />
      <child link="left_lf_mcp_pitch_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.22" effort="100" velocity="1" />
    </joint>
    <joint name="LEFT_LF_PIP" type="revolute">
      <origin xyz="-0.0041946 0 0.044819" rpy="0 0 0" />
      <parent link="left_lf_mcp_pitch_link" />
      <child link="left_lf_pip_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.74" effort="100" velocity="1" />
    </joint>
    <joint name="LEFT_LF_DIP" type="revolute">
      <origin xyz="0.0028245 0 0.031696" rpy="0 0 0" />
      <parent link="left_lf_pip_link" />
      <child link="left_lf_dip_link" />
      <axis xyz="0 1 0" />
      <limit lower="0" upper="1.55" effort="100" velocity="1" />
      <mimic joint="LEFT_LF_PIP" multiplier="0.89" offset="0" />
    </joint>

    <!-- Virtual tip links for retargeting. -->
    <link name="left_t_tip" />
    <joint name="left_t_tip_fixed" type="fixed">
      <parent link="left_t_ip_link" />
      <child link="left_t_tip" />
      <origin xyz="0 0 0.031" rpy="0 0 0" />
    </joint>
    <link name="left_if_tip" />
    <joint name="left_if_tip_fixed" type="fixed">
      <parent link="left_if_dip_link" />
      <child link="left_if_tip" />
      <origin xyz="0 0 0.023" rpy="0 0 0" />
    </joint>
    <link name="left_mf_tip" />
    <joint name="left_mf_tip_fixed" type="fixed">
      <parent link="left_mf_dip_link" />
      <child link="left_mf_tip" />
      <origin xyz="0 0 0.023" rpy="0 0 0" />
    </joint>
    <link name="left_rf_tip" />
    <joint name="left_rf_tip_fixed" type="fixed">
      <parent link="left_rf_dip_link" />
      <child link="left_rf_tip" />
      <origin xyz="0 0 0.023" rpy="0 0 0" />
    </joint>
    <link name="left_lf_tip" />
    <joint name="left_lf_tip_fixed" type="fixed">
      <parent link="left_lf_dip_link" />
      <child link="left_lf_tip" />
      <origin xyz="0 0 0.023" rpy="0 0 0" />
    </joint>
</robot>
